body {
    
    background: rgb(32, 166, 255);
    background: linear-gradient(rgb(63, 166, 255) 16%, rgba(21, 16, 171, 1)98%);
    margin: 0px;
}

/*Layout menu*/
nav {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 75px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}


.menu {
    color: white;
    font-weight: bold;
    display: inline-block;
    align-items: center;
    padding: 10px;

}

.menu:hover {
    border: solid 0.8px white;
    box-shadow: 0 0 5px rgb(218, 218, 218), 0 0 25px rgb(221, 221, 221), 0 0 50px rgb(252, 251, 251);
    transition: .3s;
    border-radius: 10px;
    cursor: pointer;

}

/*Layout testata*/

header {
    position: relative;
    height: 500px;
    background-image: url(copertina2.jpg);
    background-size: cover;
    z-index: -2;
    display: grid;
    place-items: center;
    box-shadow: 10px 10px 50px rgb(4, 4, 214);
}

#overlay {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

#Titolo {
    text-decoration: underline;
    font-style: italic;
    color: white;
    text-shadow: 10px 10px 50px black;
    font-family:Arial, Helvetica, sans-serif;
    position: inherit;
    
}

/*Layout utente*/

.Container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

}

#utente {

    display: flex;
    color: whitesmoke;
    flex-direction: column;
    margin-top: -50px;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: solid 2px whitesmoke;

}

.nome {
    color: gray;
}

#img_utente {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    border: solid 2px whitesmoke;
}



/*Layout Articoli della pagina*/

.centrale {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;


}


.Corpo {
    color: darkblue;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 66.67%;
    box-shadow: 10px 10px 50px rgb(4, 4, 214);
    border-radius: 10px;
}

p {
    color: black;
    display: inline-flex;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
}

.commento {
    font-size: 16px;
    font-weight: bolder;
    color: darkblue;
    margin: 0;
}

.categoria{
    font-size: 10px;
}

.numero {
    color: gray;
    margin-top: 0px;
    margin-bottom: 0px;
    ;

}


section {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Nunito', sans-serif;
    

}

.paragrafo {
    
    margin-left: 40px;
    font-family: 'Edu NSW ACT Foundation', cursive;

}

.titolo_Paragrafo {
    margin-top: 0px;
    margin-bottom: 0px;

}

.categoria {
    color:rgb(32, 166, 255);
    font-size: 14px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.copertina {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 10px 10px 20px gray;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 120px;

}




/*Layout Footer*/

footer {
    margin-top: 120px;
    background-color: whitesmoke;
    color: darkblue;
    height: 75px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-weight: bold;
    color: blue;

}

.Backtop {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 0.8px solid rgb(255, 255, 255);
    border-radius: 10px;
    position: absolute;
    right: 20px;
    z-index: 2;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;



}

.Backtop:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: .6s;
    box-shadow: 0 0 5px rgb(151, 151, 151), 0 0 25px rgb(218, 218, 218), 0 0 50px rgb(255, 255, 255);

}

/*Adattameto al telefono*/

@media (max-width:600px) {



    .copertina {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        box-shadow: 10px 10px 20px gray;
        border-radius: 20px;

    }

    header {
        position: relative;
        height: 500px;
        background-image: url(copertina2.jpg);
        background-size: cover;
        z-index: -2;
        display: grid;
        place-items: center;


    }

    #overlay {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: -1;
    }

    #Titolo {
        font-size: 23px;
    }

    .paragrafo {
        margin-left: 0.8px;
        margin-right: 0.8px;
    }

    .numero,
    .titolo_Paragrafo,
    .Voto,
    p,
    .commento, .categoria {
        font-size: smaller;
        
    }
    footer{
        height: auto;
        flex-direction: column;
    }

    .copyrigth, .autore{
        
        display: flex;
        justify-content: center ;
        margin-left: 25%;
        margin-right: 25%;
    }
     .foot{
        
     }
   

}